  <!-- User details Modal -->
<div style="padding: 10px;">
    <table>
      <thead>
        <tr>
          <th>Carrera/Departamento</th>
          <th>Division</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userDetail of currentReservation">
          <td *ngIf="userDetail.career; else elseBlock">{{userDetail.career}}</td>
          <ng-template #elseBlock><td>{{userDetail.department}}</td></ng-template>
          <td *ngIf="userDetail.division; else elseDivision">{{userDetail.division}}</td>
          <ng-template #elseDivision><td>N/A</td></ng-template>
          <td>{{userDetail.quantity}}</td>
        </tr>
      </tbody>
    </table>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
 </div>
