.table-content {
  margin: 15px;
}
.title {
  margin-top: 15px;
}
.pagination-users /deep/ .ngx-pagination .current {
  margin-top: 20px;
}
.user-people, .user-number {
  margin: 0;
  font-size: 16px;
  color: #000000;
}
.fa-check {
  color: rgb(87, 156, 79);
}
hr {
  border-width: 2px;
}
.none-message {
  padding-top: 30px;
  margin: 0 auto;
  color: grey;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 25px;
}
.filter-text {
  color: #6a6a6a;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.25em;
}
.columns-selected div {
  display: inline-block;
}
/*.dropdown-content {
    display: none;
}*/
.columns-button {
  margin: 0 auto;
}
.reservations-text {
  text-align: right;
}
@media screen  and (max-width: 63.9375em) {
  .reservations-text {
    text-align: left;
  }
}
.fa-check {
  cursor: pointer;
}
