<form *ngIf="called" #reservationForm="ngForm">

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell">
        <button type="button" class="button" name="button" (click)="called = false"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>

<div class="grid-container content">
  <div class="grid-x grid-padding-x title-rs">
    <div class="cell">
      <h2>Nueva reservacion</h2>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="small-6 cell form-group">
      <label>Usuario externo
        <div class="input-group">
          <input class="input-group-field" type="text" name="user" [(ngModel)]="registrationNumber" placeholder="Ingrese el codigo del usuario" required>
          <div class="input-group-button">
            <button type="button" class="button" (click)="searchUser()">Buscar</button>
          </div>
        </div>
      </label>
      <p *ngIf="anyErrors?.messageUser" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors.messageUser}}</p>
      <p *ngIf="anyErrors?.msg" class="help-text" id="userHelpText" style="color: #3f9d51;">{{anyErrors.msg}}</p>
    </div>
    <div class="small-6 cell">
      <label for="">Informacion</label>
      <ul class="user-list-info">
        <li>Nombre: {{currentUser?.name}}</li>
        <li>Descripcion: {{currentUser?.description}}</li>
      </ul>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="small-2 cell form-group">
      <label>Cubiculo
        <input type="number" class="form-control" value="{{newReservation?.cubicle}}">
      </label>
    </div>

    <div class="small-5 cell form-group">
      <label>Hora de entrada
        <input type="time" class="form-control" name="entryTime" [(ngModel)]="currentTime">
        <p *ngIf="anyErrors?.errors?.entryTime" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.entryTime.message}}</p>
      </label>
    </div>

    <div class="small-5 cell form-group">
      <label>Hora de salida
        <input type="time" class="form-control" name="departureTime" [(ngModel)]="departureTime">
        <p *ngIf="anyErrors?.errors?.departureTime" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.departureTime.message}}</p>
        <p *ngIf="departureTimeError" class="help-text" id="userHelpText" style="color: #b53535;">{{departureTimeError.departureTimeMsg}}</p>

      </label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="auto cell form-group">
      <label>Division
        <select class="form-control" name="selectedDivision" [ngModel]="selectedDivision" (ngModelChange)="divisionChange($event)">
          <option *ngFor="let division of divisions" [ngValue]="division">{{division.division}}</option>
        </select>
      </label>
    </div>

    <div class="auto cell form-group">
      <label>Departamento
        <select class="form-control" name="selectedDepartment" [ngModel]="departmentSelected" (ngModelChange)="departmentChange($event)">
          <option *ngFor="let department of departments" [value]="department">{{department}}</option>
        </select>
      </label>
    </div>

    <div class="auto cell">
      <label>Fecha
        <input type="date" name="dateReservation" [(ngModel)]="currentDate" placeholder="Fecha">
        <p *ngIf="anyErrors?.errors?.reservationDate" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.reservationDate.message}}</p>

      </label>
    </div>
  </div>

  <!-- Input option department -->
  <div *ngIf="departmentSelected" class="grid-x grid-padding-x plus-minus-group">
      <div class="input-group department-list">
        <span>{{departmentSelected}}</span>
        <button type="button" class="button hollow circle" [disabled]="!registrationNumber || quantityDepartment == 0" (click)="decrementDepartment()" data-quantity="minus" data-field="quantity">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
        <input class="text-center input-quantity" type="number" name="quantity" [value]="quantityDepartment">
        <button type="button" class="button hollow circle" [disabled]="!registrationNumber" (click)="incrementDepartment()" data-quantity="plus" data-field="quantity">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
  </div>

  <!-- Input option careers -->
  <div class="grid-x grid-padding-x plus-minus-group">
    <ul class="menu">
      <li *ngFor="let career of currentCareers; let i = index" class="input-group list-group">
        <span>{{career}}</span>
        <button type="button" class="button hollow circle" [disabled]="!registrationNumber || valores[i].count == 0" (click)="decrementCareer(career)" data-quantity="minus" data-field="quantity">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
        <input class="text-center input-quantity" type="number" name="quantity" [value]="valores[i].count">
        <button type="button" class="button hollow circle" [disabled]="!registrationNumber" (click)="incrementCareer(career)" data-quantity="plus" data-field="quantity">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-2 cell title-people">
      <label>Personas
        <input type="number" name="peopleQuantity" [(ngModel)]="newReservation.peopleQuantity">
      </label>
    </div>
    <div class="small-10 medium-10 large-10 cell">
      <label> Prestamo de material
        <textarea name="borrowedMaterial" placeholder="Ingresar el material prestado" [(ngModel)]="newReservation.borrowedMaterial"></textarea>
      </label>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="small-6 medium-6 large-4 cell text-center hola">
      <button type="button" class="button" name="button" [disabled]="!reservationForm.form.valid" (click)="save()">
        Reservar
      </button>
    </div>
  </div>
</div>
</form>
<app-reservation-create *ngIf="!called"></app-reservation-create>
