<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="title cell">
      <h2 class="text-center">Reservaciones cub&iacute;culo {{cubicleReservationNumber}}</h2>
    </div>
  </div>

  <div *ngIf="exist" class="grid-x grid-padding-x">
    <a routerLink="/" class="button radius shadow"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="small-12 cell">
      <label>Buscar
        <input type="text" placeholder="Ingrese matricula del usuario" [(ngModel)]="searchReservationUser">
      </label>
    </div>
    <table class="unstriped">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Cub&iacute;culo</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Fecha</th>
          <th>Personas</th>
          <th>Material</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let reservation of reservations | searchReservation: searchReservationUser" class="text-center">
          <tr data-closable>
            <td class="clear button user-number" (click)="getCurrentUser(reservation.user || reservation.employee || reservation.externalUser)">{{reservation.user?.registrationNumber || reservation.employee?.employeeNumber || reservation.externalUser?.userCode}}</td>
            <td>{{reservation.cubicle}}</td>
            <td>{{reservation.entryTime | date: 'shortTime'}}</td>
            <td>{{reservation.departureTime | date: 'shortTime'}}</td>
            <td>{{reservation.reservationDate | date: 'mediumDate'}}</td>
            <td class="clear button user-people" style="color: #000000; font-size: 16px; margin: 0;" (click)="getCurrentReservation(reservation)">{{reservation.peopleQuantity}}</td>
            <td *ngIf="reservation.borrowedMaterial; else elseBlock" (click)="getBorrowedMaterial(reservation.borrowedMaterial)"><i class="fa fa-check" aria-hidden="true"></i></td>
            <ng-template #elseBlock><td><i class="fa fa-times" aria-hidden="true"></i></td></ng-template>
            <td>
              <a routerLink="/home/reservations-update/{{reservation._id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a (click)="openPopup5(reservation._id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="!exist" class="grid-x grid-padding-x message">
    <a routerLink="/" class="button"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="small-12 cell text-center">
      <p>no existen reservaciones actualmente</p>
    </div>
  </div>
</div>
<ngui-popup #popup></ngui-popup>
