.blocks {
  text-align: center;
  margin-top: 50px;
}
.blocks div {
  margin-bottom: 50px;
}
.blocks a:hover {
  background-color: rgba(75, 75, 75, 0.69);
}
hr {
  border-width: 2px;
}
.admin-home {
  margin-top: 20px;
}
.admin-home h2, .admin-home h4 {
  display: inline;
}
h2 {
  padding-right: 20px;
}
.reset {
  margin-top: 15px;
}
