<div class="grid-container admin-home">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <h2 class="admin-title">Administrador</h2><h4>Bienvenido</h4>
      <hr>
    </div>
  </div>

  <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-2 blocks">
    <a routerLink="users" class="cell callout button">
      <h6 class="font-bold">Usuarios</h6>
      <span>{{totalUsers}} Elementos</span>
    </a>
    <a routerLink="cubicles" class="cell callout button">
      <h6 class="font-bold">Cubiculos</h6>
      <span>{{totalCubicles}} Elementos</span>
    </a>
    <a routerLink="departments" class="cell callout button">
      <h6 class="font-bold">Departamentos</h6>
      <span>{{totalDepartments}} Elementos</span>
    </a>
    <a routerLink="careers" class="cell callout button">
      <h6 class="font-bold">Carreras</h6>
      <span>{{totalCareers}} Elementos</span>
    </a>
  </div>
</div>
