h1 {
  margin-top: 40px;
}
.matrix {
  background-color: #FFFFFF;
  margin-top: 60px;
  border: solid #d7d7d7;
  border-width: thin;
  border-radius: 3px;
  box-shadow:0 4px 10px 4px rgba(27,27,27,0.2);
}
.matrix-content .cubicle-option {
  padding: 35px;
  margin: 0;
  background-color: transparent;
  color: black;
}
.matrix-content .cubicle-option:hover, .matrix-content .cubicle-option:focus {
  background-color: rgba(235, 235, 235, 0.97);
}
.matrix-content a, .matrix-content button, .matrix-content i, .matrix-content p {
  display: inline-block;
}
@media screen and (max-width: 63.9375em) {
  .matrix-content .cubicle-option {
    border: solid #000000 thin;
  }
}
.cubicle-number {
  margin: 0 20px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}
.boton {
  margin-top: 30px;
}
.boton div{
  margin: 0;
  padding: 0;
}
.boton-edit {
  padding: 0;
  margin: 0;
}
.check-icon {
  color: green;
}
.times-icon {
  color: red;
}
.reports-button {
  margin: 0;
}
.admin-text {
  margin-top: 50px;
}
strong {
  font-variant: small-caps;
}
