footer {
  color: slategray;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
}
.links {
  color: #000000;
}
.links:hover {
  color: rgb(25, 45, 38);
}
.nested a{
  color: rgb(107, 111, 88);
}
.nested a:hover {
  color: rgb(118, 135, 104);
}
