<div *ngIf="!called" class="grid-container table-content">
  <h2>{{totalCubicles}} Cub&iacute;culos</h2>
  <div class="grid-x grid-padding-x">
    <!-- Remove and expand table button -->
    <div class="small-6 large-8 cell">
      <button type="button" class="secondary button radius shadow" name="button" (click)="openPopup()">
        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>&nbsp;<span class="show-for-medium">Remover</span>
      </button>
      <button type="button" class="show-for-large button radius shadow hollow" (click)="expandTable()" name="button">
        <i class="fa fa-expand"></i>
      </button>
    </div>
    <!-- Download and create new cubicle button -->
    <div class="small-6 large-4 cell text-right">
      <button type="button" class="button radius shadow download-btn" name="button" (click)="downloadFile()">
        <i class="fa fa-download fa-lg"></i>&nbsp;<span class="show-for-medium">Descargar</span>
      </button>
      <button type="button" class="button radius shadow" name="button" (click)="createCubicle()">
        <i class="fa fa-plus fa-lg"></i>&nbsp;<span class="show-for-medium">Nuevo cub&iacute;culo</span>
      </button>
    </div>
  </div>
  <!-- Search filter -->
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <label>Buscar
        <input type="text" placeholder="Ingrese el n&uacute;mero de cub&iacute;culo" [(ngModel)]="searchCubicle">
      </label>
    </div>
  </div>
</div>
<!-- Table -->
<div *ngIf="!called" id="cubicleTable" #cubicleTable class="grid-container">
  <div class="grid-x grid-padding-x">
    <table class="unstriped table-info">
      <thead>
        <tr>
          <th>Cub&iacute;culo</th>
          <th>Modificar</th>
          <th>Eliminar</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cubicle of cubicles | searchCubicle: searchCubicle" data-closable>
          <td>{{cubicle.cubicleNumber}}</td>
          <td><a routerLink="/admin-site/cubicles/{{cubicle._id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
          <td class="remove">
              <button (click)="delete(cubicle._id)" class="close-button remove-item" aria-label="Dismiss alert" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ngui-popup #popup></ngui-popup>

<!-- Create cubicle form -->
<form *ngIf="called">
  <div class="grid-container content">
    <button type="button" class="button radius shadow" name="button" (click)="called = false"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <div class="grid-x grid-padding-x">
      <div class="title cell">
        <h2>Nuevo cub&iacute;culo</h2>
      </div>
    </div>
    <!-- Cubicle number input -->
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>N&uacute;mero
            <input type="number" name="cubicleNumber" placeholder="Ingrese el numero del cubiculo" [(ngModel)]="newCubicle.cubicleNumber" required>
            <div *ngIf="anyErrors">
              <p *ngIf="anyErrors?.errors?.cubicleNumber" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.cubicleNumber.message}}</p>
              <p *ngIf="errorItem" class="help-text" id="userHelpText" style="color: #b53535;">{{errorItem}}</p>
            </div>
          </label>
        </div>
      </div>
      <!-- Upload files elements -->
      <div class="grid-x grid-padding-x file-btn">
        <div class="small-12 cell uploadFile-btn">
          <label for="exampleFileUpload" class="button">Adjuntar archivo</label>
          <input #inputFile type="file" id="exampleFileUpload" class="show-for-sr" (change)="fileChange($event)" accept=".json, .csv" multiple>
          <span class="nameFile">{{nameFile}}</span>
          <p *ngIf="errorFile" class="help-text" id="userHelpText" style="color: #b53535;">{{errorFile}}</p>
        </div>
        <div class="small-12 cell">
          <button type="button" class="button radius shadow" name="button" *ngIf="nameFile" (click)="removeFile()">Remover archivo</button>
        </div>
      </div>
      <!-- Save cubicle button --> 
      <div class="grid-x grid-padding-x submit-btn">
        <div class="small-6 medium-6 large-4 cell text-center save-btn">
          <button type="button" class="button radius shadow" name="button" (click)="save()">Guardar</button>
        </div>
      </div>
    </div>
</form>
