<form>
  <div class="grid-container content">
    <a class="button" routerLink="/admin-site/employees"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="grid-x grid-padding-x">
      <div class="title cell">
        <h2>Modificar empleado</h2>
      </div>
    </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Numero
            <input type="number" name="employeeNumber" placeholder="Ingrese numero del empleado" [ngModel]="currentEmployee?.employeeNumber" (ngModelChange)="currentEmployee.employeeNumber = $event">
          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Nombre
            <input type="text" name="departmentName" placeholder="Ingrese nombre del empleado" [ngModel]="currentEmployee?.name" (ngModelChange)="currentEmployee.name = $event">
          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Departamento
            <input type="number" name="departmentNumber" placeholder="Ingrese numero de departamento del empleado" [ngModel]="currentEmployee?.department" (ngModelChange)="currentEmployee.department = $event">
          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <fieldset class="large-6 cell">
          <legend>Activo</legend>
          <input type="radio" name="active" value="true" (change)="isActiveEmployee($event)" id=isActive required><label for="isActive">SI</label>
          <input type="radio" name="active" value="false" (change)="isNotActiveEmployee($event)" id="isNotActive"><label for="isNotActive">NO</label>
        </fieldset>
      </div>
      <div class="grid-x grid-padding-x submit-btn">
        <div class="small-6 medium-6 large-4 cell text-center save-btn">
          <button type="button" class="button" name="button" (click)="update()">Actualizar</button>
        </div>
      </div>
    </div>
</form>
