button i {
  color: whitesmoke;
}
button {
  margin: 0 0 0 10px;
  padding: 0;
}
header {
  background: #4a8ab9 !important;
}
.home-bar {
  background: inherit;
  padding: 5px;
}
.home-bar .top-bar-left {
  margin-left: 20%;
}
.home-bar .top-bar-right {
  margin-right: 20%;
}
.top-bar-left a, .top-bar-right a {
  margin: 0;
  padding: 0;
}
.top-bar-right a {
  color: #ffffff;
}
.top-bar-right a:hover {
  color: rgba(17, 18, 17, 0.86);
}
