<header>
  <div class="top-bar home-bar" id="homeMenu">
    <button type="button" class=" clear button" data-toggle="offCanvasLeft"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
    <div class="top-bar-left title-left show-for-medium">
      <a class="clear button" routerLink="/"><img src="assets/img/logo-cetys.png" width="80px" height="60px" alt="Cetys logo image"></a>
    </div>
    <div class="top-bar-right show-for-medium">
      <a routerLink="/admin-site"><strong>Admin</strong></a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
