header {
  background: #4a8ab9 !important;
}
.home-bar {
  background: inherit;
  padding: 5px;
}
@media screen and (min-width: 40em) {
  .home-bar {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media screen and (max-width: 39.9375em) {
  .top-bar-right {
    margin-top: 10px;
  }
}
.top-bar-left a {
  margin: 0;
  padding: 0;
}

.top-bar-right a {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.top-bar-right a:hover {
  /*background-color: grey;*/
  color: rgba(17, 18, 17, 0.86);
}
