<header>
  <div class="top-bar admin-bar">
    <div class="top-bar-left title-left">
      <!-- <a class="clear button"routerLink="/">Cetys Universidad</a> -->
      <a class="clear button" routerLink="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
    </div>
  <div class="top-bar-right">
    <ul class="menu menu-bar">
      <li><a class="clear button" routerLink="admin-site"><i class="fa fa-arrow-circle-o-left fa-lg" aria-hidden="true"></i></a></li>
      <li><a class="clear button" routerLink="users"><i class="fa fa-user" aria-hidden="true"></i>Estudiantes</a></li>
      <li><a class="clear button" routerLink="cubicles"><i class="fa fa-briefcase" aria-hidden="true"></i>Cubiculos</a></li>
      <li><a class="clear button" routerLink="careers"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Carreras</a></li>
      <li><a class="clear button" routerLink="departments"><i class="fa fa-id-card-o" aria-hidden="true"></i>Departamentos</a></li>
      <li><a class="clear button" routerLink="employees"><i class="fa fa-id-badge" aria-hidden="true"></i>Empleados</a></li>
      <li><a class="clear button" routerLink="externals"><i class="fa fa-user-circle" aria-hidden="true"></i>Externos</a></li>
      <li><a class="clear button" routerLink="reports"><strong>Reportes</strong></a></li>
    </ul>
  </div>
</div>
</header>
<router-outlet></router-outlet>
