/* Large and up */
@media screen and (min-width: 79em) {
  .top-bar-left {
    margin-left: 22%;
  }
}
button i {
  color: whitesmoke;
}
button {
  margin: 0 0 0 10px;
  padding: 0;
}
header {
  background: #4a8ab9 !important;
}
.admin-bar {
  background: inherit;
}

.top-bar-right ul {
  background: inherit;
}
.top-bar-left a {
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 20px;
}
.top-bar-right a i {
  margin-right: 10px;
}
.menu-bar a {
  color: whitesmoke;
}
.menu-bar a:hover {
  color: rgba(17, 18, 17, 0.86);
}
.title-left a{
  color: whitesmoke;
}
.title-left a:hover {
  color: rgba(17, 18, 17, 0.86);
}
