.admin-bar {
  background: #4a8ab9 !important;
}
.title-admin {
  font-size: 20px;
}
.admin-menu a {
  color: #ffffff;
}
.top-bar-right ul {
  background: inherit;
}
.top-bar-left a {
  /*color: #ffffff;*/
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 20px;
}
/*.top-bar-right a {
  color: #ffffff;
}*/
.top-bar-right a i {
  margin-right: 10px;
}
