<div *ngIf="!called" class="grid-container table-content">
  <h2>Departamentos</h2>
  <div class="grid-x grid-padding-x">
    <div class="small-6 large-7 cell">
      <button type="button" class="secondary button radius shadow" name="button" (click)="openPopup()">
        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>&nbsp;<span class="show-for-medium">Remover</span>
      </button>
      <button type="button" class="show-for-large button radius shadow hollow" (click)="expandTable()" name="button">
        <i class="fa fa-expand"></i>
      </button>
    </div>
    <div class="small-6 large-5 cell text-right">
      <button type="button" class="button radius shadow download-btn" name="button" (click)="downloadFile()">
        <i class="fa fa-download fa-lg"></i>&nbsp;<span class="show-for-medium">Descargar</span>
      </button>
      <button type="button" class="button radius shadow" name="button" (click)="createDepartment()">
        <i class="fa fa-plus fa-lg"></i>&nbsp;<span class="show-for-medium">Nuevo departamento</span>
      </button>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <label>Buscar
        <input type="text" placeholder="Ingrese el n&uacute;mero o nombre del departamento" [(ngModel)]="searchDepartment">
      </label>
    </div>
  </div>
</div>
<div id="departmentTable" #departmentTable class="grid-container">
  <div class="grid-x grid-padding-x">
    <table class="unstriped table-info">
      <thead>
        <tr>
          <th>N&uacute;mero</th>
          <th>Departamento</th>
          <th>Modificar</th>
          <th>Eliminar</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of departments | searchDepartment: searchDepartment | paginate: { itemsPerPage: 50, currentPage: page }" data-closable>
          <td>{{department.departmentCode}}</td>
          <td>{{department.departmentName}}</td>
          <td><a routerLink="/admin-site/departments/{{department._id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
          <td class="remove">
              <button (click)="delete(department._id)" class="close-button remove-item" aria-label="Dismiss alert" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell text-center">
      <pagination-controls class="pagination-users" (pageChange)="page = $event" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
    </div>
  </div>
</div>

<ngui-popup #popup></ngui-popup>


<form *ngIf="called">
  <div class="grid-container content">
    <button type="button" class="button radius shadow" name="button" (click)="called = false"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <div class="grid-x grid-padding-x">
      <div class="title cell">
        <h2>Nuevo departamento</h2>
      </div>
    </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>N&uacute;mero
            <input type="number" name="departmentNumber" placeholder="Ingrese numero del departamento" [(ngModel)]="newDepartment.departmentCode" required>
            <div *ngIf="anyErrors">
              <p *ngIf="anyErrors?.errors?.departmentCode" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.departmentCode.message}}</p>
              <p *ngIf="errorItem" class="help-text" id="userHelpText" style="color: #b53535;">{{errorItem}}</p>
            </div>

          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Nombre
            <input type="text" name="departmentName" placeholder="Ingrese nombre del departamento" [(ngModel)]="newDepartment.departmentName" required>
            <p *ngIf="anyErrors?.errors?.departmentName" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.departmentName.message}}</p>
          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x file-btn">
        <div class="small-12 cell uploadFile-btn">
          <label for="exampleFileUpload" class="button radius shadow">Adjuntar archivo</label>
          <input type="file" id="exampleFileUpload" class="show-for-sr" (change)="fileChange($event)" accept=".json, .csv" multiple>
          <span #inputFile class="nameFile">{{nameFile}}</span>
          <p *ngIf="errorFile" class="help-text" id="userHelpText" style="color: #b53535;">{{errorFile}}</p>
        </div>
        <div class="small-12 cell">
          <button type="button" class="button radius shadow" name="button" *ngIf="nameFile" (click)="removeFile()">Remover archivo</button>
        </div>
      </div>
      <div class="grid-x grid-padding-x submit-btn">
        <div class="small-6 medium-6 large-4 cell text-center save-btn">
          <button type="button" class="button radius shadow" name="button" (click)="save()">Guardar</button>
        </div>
      </div>
    </div>
</form>
