<div *ngIf="!called" class="grid-container table-content">
  <h2>Externos</h2>
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <button type="button" class="button radius shadow float-right" name="button" (click)="createExternalUser()">
          <i class="fa fa-plus fa-lg"></i>&nbsp;<span class="show-for-medium">Nuevo usuario</span>
      </button>
      <button type="button" class="show-for-large button radius shadow hollow" (click)="expandTable()" name="button">
        <i class="fa fa-expand"></i>
      </button>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <label>Buscar
        <input type="text" placeholder="Ingrese el codigo del usuario" [(ngModel)]="searchUserCode">
      </label>
    </div>
  </div>
</div>
<div id="externalTable" #externalTable class="grid-container">
  <div class="grid-x grid-padding-x">
    <table class="unstriped table-info">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | searchExternalUser: searchUserCode | paginate: { itemsPerPage: 50, currentPage: page }" data-closable>
          <td>{{user.userCode}}</td>
          <td>{{user.name}}</td>
          <td>{{user.description}}</td>
          <td><a routerLink="/admin-site/externals/{{user._id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
          <td class="remove">
              <button (click)="delete(user._id)" class="close-button remove-item" aria-label="Dismiss alert" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell text-center">
      <pagination-controls class="pagination-users" (pageChange)="page = $event" previousLabel="Atras" nextLabel="Siguiente"></pagination-controls>
    </div>
  </div>
</div>

<ngui-popup #popup></ngui-popup>


<form *ngIf="called">
  <div class="grid-container content">
    <button type="button" class="button radius shadow" name="button" (click)="called = false"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <div class="grid-x grid-padding-x">
      <div class="title cell">
        <h2>Nuevo usuario</h2>
      </div>
    </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Codigo
            <input type="text" name="externalUserCode" placeholder="Ingrese codigo del usuario" [(ngModel)]="newExternalUser.userCode" required>
            <div *ngIf="anyErrors">
              <p *ngIf="anyErrors?.errors?.userCode" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.userCode.message}}</p>
              <p *ngIf="errorItem" class="help-text" id="userHelpText" style="color: #b53535;">{{errorItem}}</p>
            </div>
          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Nombre
            <input type="text" name="externalUserName" placeholder="Ingrese nombre del usuario" [(ngModel)]="newExternalUser.name" required>
            <p *ngIf="anyErrors?.errors?.name" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.name.message}}</p>
          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Descripcion
            <textarea name="description" placeholder="Ingrese alguna descripcion del usuario" [(ngModel)]="newExternalUser.description"></textarea>
          </label>
        </div>
      </div>

      <div class="grid-x grid-padding-x file-btn">
        <div class="small-12 cell uploadFile-btn">
          <label for="exampleFileUpload" class="button radius shadow">Adjuntar archivo</label>
          <input #inputFile type="file" id="exampleFileUpload" class="show-for-sr" (change)="fileChange($event)" accept=".json, .csv" multiple>
          <span class="nameFile">{{nameFile}}</span>
          <p *ngIf="errorFile" class="help-text" id="userHelpText" style="color: #b53535;">{{errorFile}}</p>
        </div>
        <div class="small-12 cell">
          <button type="button" class="button radius shadow" name="button" *ngIf="nameFile" (click)="removeFile()">Remover archivo</button>
        </div>
      </div>
      <div class="grid-x grid-padding-x submit-btn">
        <div class="small-6 medium-6 large-4 cell text-center save-btn">
          <button type="button" class="button radius shadow" name="button" (click)="save()">Guardar</button>
        </div>
      </div>
    </div>
</form>
