<div *ngIf="!called" class="grid-container table-content">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <button type="button" class="button float-right" name="button" (click)="createEmployee()">Nuevo empleado</button>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <label>Buscar
        <input type="text" placeholder="Ingrese el numero del empleado" [(ngModel)]="searchEmployeeNumber">
      </label>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <table class="unstriped table-info">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Nombre</th>
          <th>Departamento</th>
          <th>Activo</th>
          <th>Modificar</th>
          <th>Eliminar</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 50, currentPage: page } | searchEmployee: searchEmployeeNumber" data-closable>
          <td>{{employee.employeeNumber}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.department}}</td>
          <td *ngIf="employee.active; else elseBlock">Si</td>
          <ng-template #elseBlock>No</ng-template>
          <td><a routerLink="/admin-site/employees/{{employee._id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
          <td class="remove">
              <button (click)="delete(employee._id)" class="close-button remove-item" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell text-center">
      <pagination-controls class="pagination-users" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>

<form *ngIf="called">
  <div class="grid-container content">
    <button type="button" class="button" name="button" (click)="called = false"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <div class="grid-x grid-padding-x">
      <div class="title cell">
        <h2>Nuevo empleado</h2>
      </div>
    </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Numero
            <input type="number" name="employeeNumber" placeholder="Ingrese numero del empleado" [(ngModel)]="newEmployee.employeeNumber" required>
            <div *ngIf="anyErrors">
              <p *ngIf="anyErrors?.errors?.employeeNumber" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.employeeNumber.message}}</p>
              <p *ngIf="anyErrors?.existEmployee && !anyErrors?.existEmployees" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.existEmployee}}</p>
            </div>
          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Nombre
            <input type="text" name="employeeName" placeholder="Ingrese nombre del empleado" [(ngModel)]="newEmployee.name" required>
            <p *ngIf="anyErrors?.errors?.name" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.name.message}}</p>
          </label>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
          <label>Departamento
            <input type="number" name="departmentNumber" placeholder="Ingrese numero del departamento" [(ngModel)]="newEmployee.department" required>
            <p *ngIf="anyErrors?.errors?.department" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.errors?.department.message}}</p>
          </label>
        </div>
      </div>

      <div class="grid-x grid-padding-x file-btn">
        <div class="small-12 cell uploadFile-btn">
          <label for="exampleFileUpload" class="button">Adjuntar archivo</label>
          <input #inputFile type="file" id="exampleFileUpload" class="show-for-sr" (change)="fileChange($event)" accept=".json, .csv" multiple>
          <span class="nameFile">{{nameFile}}</span>
          <p *ngIf="anyErrors?.existEmployees" class="help-text" id="userHelpText" style="color: #b53535;">{{anyErrors?.existEmployees}}</p>
        </div>
        <div class="small-12 cell">
          <button type="button" class="button" name="button" *ngIf="nameFile" (click)="removeFile()">Remover archivo</button>
        </div>
      </div>
      <div class="grid-x grid-padding-x submit-btn">
        <div class="small-6 medium-6 large-4 cell text-center save-btn">
          <button type="button" class="button" name="button" (click)="save()">Guardar</button>
        </div>
      </div>
    </div>
</form>
