<!-- User Info Modal -->
<div style="padding: 10px;">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Division</th>
        <th>Carrera</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{currentUser.name}}</td>
        <!-- <ng-template #elseBlock><td>{{userDetail.department}}</td></ng-template> -->
        <td>{{currentUser.division}}</td>
        <!-- <ng-template #elseDivision><td>N/A</td></ng-template> -->
        <td>{{currentUser.career}}</td>
      </tr>
    </tbody>
  </table>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
